# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

#Temporary files
*.tmp
*.bak

# Virtual environment
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

.env

# .yml profile file
nyc_audit/dbt_project.yml

#Airflow
airflow.db
airflow.cfg
airflow-webserver.pid

#Devcontainer artifacts
.devcontainer
*.tar
*.tar.xz
*.tar.gz

#Files and temp files
*.parquet
*.csv
*.xlsx
*.xls
data/

#Logs
logs/
*.log
src/logs/

profiles.yml